h1,
h2,
h3,
button,
p {
  font-family: "Arsenal", sans-serif;
}

nav a {
  font-family: "Arsenal", sans-serif;
}

.navbar-brand {
  font-size: 35px;
}

h1 {
  padding-top: 15px;
  text-align: center;
}

.hero {
  font-size: 50px;
}
h2 {
  text-align: center;
  padding: 20px;
}

h3 {
  font-size: 25px;
}
button {
  text-align: center;
  display: block;
  margin: 0 auto;
  padding: 10px;
  border-radius: 4px;
}

button a {
  color: black;
  text-decoration: none;
}

button a:hover {
  text-decoration: none;
}

.homepage-photo {
  max-width: 100%;
  padding-top: 40px;
  padding-bottom: 10px;
}

.photo-copyright {
  font-size: 10px;
  text-align: right;
  margin-right: 5px;
}

.copyright {
  font-size: 10px;
}
footer {
  font-size: 30px;
  margin-left: 20px;
  margin-bottom: 20px;
}

.social-media {
  font-size: 30px;
  text-align: center;
}

a i {
  color: #4a4646;
}
p {
  text-align: justify;
  line-height: 1.5;
  font-size: 18px;
}

.email-link {
  display: block;
  text-align: center;
  text-decoration: none;
  color: black;
  font-family: "Arsenal", sans-serif;
  font-size: 20px;
}

a:hover {
  text-decoration: underline;
}

.navbar-brand:hover {
  text-decoration: none;
}

img {
  max-width: 100%;
  padding: 10px;
}

.active {
  text-decoration: underline !important;
}
